@media (width<901px) {
  #install-app-btn {
    display: none;
  }
}
@media (width<721px) {
  .footer {
    height: 20%;
    flex-direction: column;
    padding: 1rem 1rem;
  }
  .footer-player-container {
    width: 70%;
  }
}
@media (width<480px) {
  #sign-up-btn {
    display: none;
  }
  .library {
    display: none;
  }
  .music-part {
    width: 100%;
  }
  .music-card {
    height: 300px;
    width: 230px;
  }
  .footer {
    height: 23%;
    width: 98%;
  }
}
