@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #023047;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #219ebc;
  padding: 2rem;

  border-radius: 1rem;
  border: 2px solid white;

  box-shadow: 5px 5px 100px;

  
}
h1 {
  margin-bottom: 15px;
}
input,
button,
select {
  width: 100%;
  height: 20px;
  border-radius: 3px;
  border: 1px solid transparent;
  margin-top: 10px;
}
form input {
  height: 30px;
  padding-left: 10px;
  font-size: 1rem;
}
button {
  background-color: #c1121f;
  color: white;
  height: 30px;
  font-size: 20px;

  border-radius: 5px;
  border: none;
}
select {
  height: 30px;
  width: 50px;
  border: none;
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}
.selectFrom {
  margin: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  height: 40px;

  border-radius: 5px;
  padding: 10px;
}
img {
  height: 40px;
}
