@import url("https://fonts.googleapis.com/css2?family=Acme&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}
body {
  background-color: #0d1b2a;
  text-align: center;
}
main > h1 {
  font-size: 8vmin;

  color: #22223b;
  transition: all 0.5s ease-in-out;
}
main > h1:hover {
  color: white;
}
main > .winner > h1 {
  font-size: 7vmin;
  color: aliceblue;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  gap: 1rem;

  background: transparent;
  backdrop-filter: blur(34px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);

  padding: 20px 0;

  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
.game:hover {
  border: 1px solid blueviolet;
  box-shadow: 0 5px 20px rgba(138, 43, 226, 0.5);
  transform: scale(1.01);
}
.box {
  height: 15vmin;
  width: 15vmin;

  border-radius: 10px;
  border: none;

  box-shadow: 3px 3px 15px black;
  text-shadow: 2px 2px black;

  padding: 10px;

  font-size: 10vmin;

  background-color: rgba(255, 252, 242, 0.2);
  color: #ef476f;
  transition: all 0.3s ease-in-out;
}
.box:hover {
  border: 1px solid blueviolet;
  box-shadow: 0 5px 20px rgba(138, 43, 226, 0.5);
  transform: scale(1.1);
}
.btn {
  padding: 10px 20px;
  border: 1px solid white;
  background: transparent;

  border-radius: 5px;

  color: white;

  margin: 20px;

  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  border: 1px solid blueviolet;
  box-shadow: 0 5px 20px rgba(138, 43, 226, 0.5);
  padding: 10px 30px;
  transform: scale(1.1);
}
.scoreBord {
  position: absolute;
  left: 10%;
  bottom: 50%;

  padding: 20px 30px;
  background: transparent;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  backdrop-filter: blur(34px);

  transition: all 0.5s ease-in-out;
}
.scoreBord:hover {
  border: 1px solid blueviolet;
  box-shadow: 0 5px 20px rgba(138, 43, 226, 0.5);
  transform: scale(1.01);
}
.scoreBord h1 {
  color: white;
  text-shadow: 2px 2px black;
}
