@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
}
body{
    background-color:beige;
   
}
.bg{
    height:100%;
    width:100%;
    background-image:url(bg.jpg);
    background-size:cover;
    top:-45px;
    position:absolute;
    
}
.nav{
    height:45px;
    display:flex;
    align-items:center;
    backdrop-filter:blur(15px);;
    color:white;
    
    position:relative;
    box-shadow: 2px 5px 10px 10px black;
    /* border-top:1px  solid rgba(255,255,255,0.5); */
    border-bottom:1px  solid rgba(255,255,255,0.5);
}
.spotilogo{
    height:35px;
    transition:all 0.3s ease-in-out;
}
.spotilogo:hover{
    height:40px;
}
.navname{
    height:100%;
    margin-left:40px;
    width:50px;
    display:flex;
    align-items:center;
    border-radius:15px;
    
    transition:all 0.2s ease-in-out;
    
}
.navname:hover{
    font-size:18px;
    background-color:rgb(43, 42, 42);

}
.sfname{
    
    font-size:20px;
    border-radius:15px;
    
    transition:all 0.2s ease-in-out;
   

}
.sfname:hover{
    
    font-size:21px;
    
}